*{
    padding: 0;
    margin: 0;
}

.treino{
    color: rgb(0, 0, 0);
    padding: 20px;
    
    font-size: 80px;
    background-color: rgb(134, 133, 133);

}
.banner{
    background-color: rgb(180, 172, 163);
    height: 100px;
    width: auto;
    display: flex;
    border-radius: 20px;
}
.cabeca{
    display: flex;
    flex-direction: column;
}

.bannerfoto2{
    display: flex;
    text-align: center;
    width: 20px;
    height: auto;
    border-radius: 30px;
}

.titulo{
    color: black;
    height: 100px;
    width: 300px;
    font-size: 40px;
    display: flex;
    padding: 10px;

    
}
.footercontainer{
    display: flex;
    align-items: end;
    background-color: rgb(88, 88, 88);
    padding: 40px;

    
}


.bannerfoto{
    display: flex;  
    width: 5000px;
    height: 400px;
}

.paragrafo{
    font-size: 50px;
    margin-left: 20px;
}

.form{
    font-size: 40px;
    margin-left: 20px;
}
.inpute{
    font-size: 30px;
}

.palagrafo{
    color: black;
    background-color: yellow ;
    width: 250px;
    border-radius: 20px;
}
.grade{
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: center;
}

.inner-container img{
    display: flex;
padding: 20px;
    width: 400px;
    height: auto;
    justify-content: space-around;
    
}




@media screen and (max-width: 600px){
    .container{
        display: flex;
        padding: 20px 70px;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .inner-container img{
        height: 70px;
        width: 70px;
        padding: 8px;
    }
    .footer{
      width: 100%;
      height: auto;
    }
    .foter{
        width: 100%;
        height: auto;
    }


}